In [1]:
! ls \data

data_description.txt  test.csv
sample_submission.csv train.csv

In [2]:
import pandas as pd
from scipy import stats
import numpy as np
import sys
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt
np.set_printoptions(threshold=sys.maxsize)

In [3]:
# load data
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [4]:
# concatenate dataframes
df_test['SalePrice'] = -1
df = pd.concat([df_train, df_test])

In [5]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,-1
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,-1
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,-1
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,-1
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,-1

In [6]:
# start preparing the training data
# check which columns contain nans
df.columns[df.isna().any()].tolist()

['MSZoning',
 'LotFrontage',
 'Alley',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Electrical',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType']

In [7]:
# check number of nans per column
nan_sum = df.isna().sum()
nan_sum[0:41]

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      486
LotArea            0
Street             0
Alley           2721
LotShape           0
LandContour        0
Utilities          2
LotConfig          0
LandSlope          0
Neighborhood       0
Condition1         0
Condition2         0
BldgType           0
HouseStyle         0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
RoofStyle          0
RoofMatl           0
Exterior1st        1
Exterior2nd        1
MasVnrType        24
MasVnrArea        23
ExterQual          0
ExterCond          0
Foundation         0
BsmtQual          81
BsmtCond          82
BsmtExposure      82
BsmtFinType1      79
BsmtFinSF1         1
BsmtFinType2      80
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
Heating            0
HeatingQC          0
dtype: int64

In [8]:
nan_sum[40:]

HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        2
BsmtHalfBath        2
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu      1420
GarageType        157
GarageYrBlt       159
GarageFinish      159
GarageCars          1
GarageArea          1
GarageQual        159
GarageCond        159
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           2909
Fence            2348
MiscFeature      2814
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice           0
dtype: int64

In [9]:
# drop columns containing a large number of nans
df_dropcol = df.drop(['Alley', 'LotFrontage', 'FireplaceQu','PoolQC','Fence','MiscFeature'], axis = 1)

In [10]:
df_dropcol

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,1936,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2006,WD,Normal,-1
1455,2916,160,RM,1894,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,4,2006,WD,Abnorml,-1
1456,2917,20,RL,20000,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2006,WD,Abnorml,-1
1457,2918,85,RL,10441,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,700,7,2006,WD,Normal,-1
1458,2919,60,RL,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,11,2006,WD,Normal,-1

In [11]:
nan_sum = df_train_dropcol.isna().sum()
nan_sum[0:41]

NameError: name 'df_train_dropcol' is not defined

In [408]:
# drop rows with >= 2 nans
df_droprows = df_dropcol.dropna(thresh=df_dropcol.shape[1]-2)

In [409]:
df_droprows

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2912,20,RL,13384,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,5,2006,WD,Normal,-1
1452,2913,160,RM,1533,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,12,2006,WD,Abnorml,-1
1455,2916,160,RM,1894,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,4,2006,WD,Abnorml,-1
1456,2917,20,RL,20000,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2006,WD,Abnorml,-1
1458,2919,60,RL,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,11,2006,WD,Normal,-1

In [410]:
# fill the few remaining nans with the value on the next row
df_nonans = df_droprows.ffill(axis=0)

In [411]:
# check if any nan is left
df_nonans.isnull().values.any()

False

In [412]:
# convert into 1-hot encoding
features = pd.get_dummies(df_nonans)

In [413]:
features

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2912,20,13384,5,5,1969,1979,194.0,119.0,344.0,...,0,0,0,1,0,0,0,0,1,0
1452,2913,160,1533,4,5,1970,1970,0.0,408.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1455,2916,160,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1456,2917,20,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1458,2919,60,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [420]:
# split into training and testing dataframes
train_features = features[features['SalePrice'] != -1]
test_features = features[features['SalePrice'] == -1]

In [421]:
train_features

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,13175,6,6,1978,1988,119.0,790.0,163.0,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,9042,7,9,1941,2006,0.0,275.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,9717,5,6,1950,1996,0.0,49.0,1029.0,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,9937,5,6,1965,1965,0.0,830.0,290.0,...,0,0,0,1,0,0,0,0,1,0

In [422]:
test_features

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2912,20,13384,5,5,1969,1979,194.0,119.0,344.0,...,0,0,0,1,0,0,0,0,1,0
1452,2913,160,1533,4,5,1970,1970,0.0,408.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1455,2916,160,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1456,2917,20,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1458,2919,60,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [423]:
# create labels
y_train = np.array(train_features['SalePrice'])
y_train.shape

(1349,)

In [430]:
# drop goal feature
train_features_noprice = train_features.drop('SalePrice', axis = 1)
test_features_noprice = test_features.drop('SalePrice', axis = 1)

In [433]:
# create input features
x_train = np.array(train_features_noprice)
x_test = np.array(test_features_noprice)
print(x_train.shape, y_train.shape, x_test.shape)

(1349, 266) (1349,) (1346, 266)

In [425]:
# choose rf with 1000 trees (large enough, good training time)
rfr = RandomForestRegressor(n_estimators = 1000)

In [426]:
# train
rfr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [427]:
# get predictions on training set
pred = rfr.predict(x_train)

In [428]:
# get RMSE
rms = sqrt(mean_squared_error(np.log(y_train), np.log(pred)))
print('RMSE =', rms)

RMSE = 0.05589412619679484

In [436]:
# get actual predition on testing set
pred_test = rfr.predict(x_test)

In [437]:
pred_test

array([124006.049, 153873.671, 183729.441, 181453.55 , 199986.763,
       183968.263, 169685.914, 176184.629, 181038.259, 123530.773,
       194426.871,  92070.326,  93353.285, 153470.495, 138845.43 ,
       396058.104, 254029.593, 299785.426, 247337.034, 449769.402,
       313596.007, 209892.023, 178528.631, 177464.003, 172010.853,
       198822.232, 335151.269, 239549.865, 216512.415, 198272.235,
       190939.19 ,  97850.038, 177159.016, 307245.257, 301913.467,
       225442.481, 191459.903, 154415.966, 153536.043, 153054.916,
       174172.522, 166169.919, 303198.734, 228133.773, 215185.629,
       187006.797, 221956.954, 201174.076, 164816.022, 152317.472,
       151955.925, 173761.51 , 155764.015, 191372.945, 157183.024,
       156259.031, 132175.351, 223247.816, 139091.025, 146098.459,
       160494.261, 117360.632, 124351.076, 125419.692, 129921.897,
       110434.072, 128914.4  , 142632.212, 168926.296, 126318.576,
       147880.45 , 116884.078, 159357.314, 116033.33 ,  80241.197,
       189436.315, 261182.583, 148657.533, 146130.92 , 212339.509,
        90873.318, 105166.002, 120168.614, 143583.163, 136664.787,
       112387.863, 142759.863, 116066.397, 144365.137, 116157.689,
       166529.348,  95031.786,  94164.514, 147630.442, 126621.073,
       126000.783, 162030.467, 156213.021, 213543.401,  83771.574,
       222725.502, 151668.391, 135387.162, 137384.945, 144717.656,
       235132.223, 121863.71 , 210343.472, 215017.598, 210837.435,
       152908.761, 143439.292, 190254.753, 143473.584, 128173.74 ,
       333966.703, 240372.478, 140266.445, 111566.251, 154481.37 ,
       106688.096, 134278.264, 126575.722, 113044.126, 230140.735,
       174486.959, 183409.023, 213550.318, 195030.434,  87049.974,
       107898.853,  96885.105, 281018.269, 249620.724, 166981.978,
       174763.523, 216924.526, 204307.424, 166036.601, 150873.456,
       173158.698, 171414.468, 124098.894,  93686.589, 128423.526,
       131812.324, 170158.363, 138270.444, 157268.846, 290974.462,
       212671.843, 127414.562, 173971.285, 187352.268, 287532.013,
       175635.002, 350788.763, 226448.938, 245720.796, 169992.008,
       181748.224, 179559.828, 165614.41 , 182779.181, 215270.082,
       179440.369, 247624.174, 182446.653, 223035.913, 222655.43 ,
       223190.192, 185090.05 , 156010.262, 162415.39 , 145263.451,
       141479.613, 124040.61 , 125719.748,  91943.4  ,  98204.9  ,
       158005.236, 156509.607, 150964.446, 155279.649, 155054.178,
       142550.248, 147649.764, 430817.974, 392637.959, 372022.675,
       437071.765, 307404.276, 328645.344, 359992.979, 323897.779,
       296744.546, 328996.534, 258386.843, 462811.693, 300857.371,
       251525.1  , 188717.483, 191381.928, 214936.008, 451010.416,
       381015.482, 320997.182, 272335.074, 298767.871, 185927.442,
       168930.718, 174436.756, 167323.467, 166198.585, 186245.869,
       188182.911, 182826.27 , 174931.365, 269708.12 , 169733.191,
       185379.573, 169041.496, 266720.058, 169850.28 , 343846.278,
       333744.738, 241388.505, 264704.057, 254373.753, 249788.021,
       290954.319, 237384.884, 438805.105, 224248.554, 221329.728,
       278604.267, 224824.419, 261202.408, 230288.973, 244204.257,
       226541.175, 200850.21 , 174814.842, 166649.987, 204621.501,
       254131.317, 164888.526, 159180.201, 218603.178, 233878.273,
       188644.738, 173957.176, 185952.716, 166758.55 , 124558.474,
       131227.705, 126076.475, 133052.539, 132818.548, 116322.56 ,
       367052.615, 216895.093, 269545.821, 190975.123, 179683.698,
       173474.815, 173737.156, 316367.873, 235746.067, 287290.632,
       218649.305, 207067.68 , 162652.46 , 149762.063, 224653.389,
       123510.4  , 147851.611, 217916.695, 165739.186, 125070.273,
       119931.848, 149244.128, 169392.019, 158666.202, 153821.455,
       179685.55 , 167202.685, 118220.702, 168000.051, 171778.022,
       199238.845, 140364.325, 165110.856, 141526.103, 138497.08 ,
       144040.588, 140207.305, 136864.515, 134611.114, 130746.652,
       117658.888, 131744.111, 174210.862, 132474.031, 106693.312,
       127666.511, 107100.734, 118180.903, 150962.984, 165026.169,
       101355.852,  94403.766, 182445.949, 155592.586, 135621.09 ,
       140093.505, 140564.14 , 139052.625, 118779.745, 127046.004,
       118073.736, 134867.389, 134383.885, 153212.737, 153292.9  ,
       140593.913, 135744.925, 116132.819, 144131.866, 121017.482,
       147178.435, 122026.119, 101493.629, 102500.963, 128406.63 ,
       137359.498, 118804.624, 131885.668, 149732.029, 138011.905,
       145236.434, 101529.236, 109463.446, 137228.071, 110198.329,
       142283.956, 171076.062, 146880.052, 143670.925, 134996.778,
       138907.229, 101138.736, 150914.373,  97119.029, 144085.862,
       139319.983, 147113.885, 150897.7  , 154404.018, 128793.448,
       152331.25 , 129442.649, 139836.992, 170048.753, 154953.708,
       219092.852, 153204.32 , 268385.673, 265722.603, 265722.603,
       327704.481, 324842.08 , 243009.645, 305465.441, 193545.131,
       246695.198, 254330.361, 170788.559, 226937.919, 140911.123,
       202616.373, 193915.934, 206275.26 , 212486.551, 135390.22 ,
       135854.769, 235578.671, 258597.077, 198159.225, 221910.245,
       261501.916, 303698.839, 196591.06 , 278747.092, 165789.207,
       140671.473, 143547.731, 114304.317, 135714.211, 150626.656,
       123424.937, 115756.802, 112254.659, 131710.938, 145481.053,
       168768.922, 130918.889, 219743.563, 137149.123, 174977.638,
       157399.247, 193536.264, 110829.444, 130437.839, 121522.597,
       192181.242, 266440.217, 151195.536,  70956.147, 336893.247,
       261166.388, 137549.155, 157177.023, 163183.793, 406417.411,
       327714.992, 205253.182, 235818.921, 223537.839, 376026.661,
       142124.434, 158480.05 , 127333.457, 141085.702, 139680.892,
       136746.127, 175030.675, 181282.473, 175965.652, 190879.949,
       181576.698, 171873.314, 248439.642, 200945.29 , 177224.524,
       192367.463, 197152.216, 315878.398, 362718.868, 159590.618,
       311695.748, 170048.398, 246287.212, 176462.769, 273442.563,
       242971.662, 165083.298, 206209.923, 128068.348, 271252.205,
       164675.407, 318121.341, 152573.265, 118344.256, 121458.777,
        94650.65 , 103676.641, 114642.884, 155067.711, 154455.851,
       290540.665, 393013.798, 370093.332, 416616.701, 425355.477,
       363077.218, 274033.452, 318702.018, 446766.389, 274805.441,
       362021.123, 355890.546, 328984.174, 193787.603, 335077.703,
       232785.204, 219710.594, 168398.279, 206970.37 , 210229.887,
       183485.595, 178606.761, 185340.895, 218857.533, 217474.332,
       214156.47 , 171681.892, 249372.195, 181751.713, 262502.207,
       329752.402, 349020.766, 250042.454, 306997.881, 261072.711,
       232161.081, 250487.912, 257750.299, 235656.127, 223503.523,
       243755.83 , 216971.343, 192424.179, 189755.357, 182679.242,
       181250.193, 188836.505, 194823.04 , 192833.96 , 203048.151,
       125852.789, 134775.693, 123680.776, 118102.067, 176036.542,
       156665.341, 223107.417, 372590.034, 182967.103, 149060.201,
       152590.529, 172038.766, 280522.458, 263172.684, 280509.786,
       275090.533, 165221.377, 203982.163, 191371.719, 196529.473,
       333429.538, 208750.605, 396511.566, 284034.369, 205415.801,
       170461.292, 169933.5  , 232066.406, 137982.256, 155270.854,
       131058.088, 135076.56 , 171758.795, 140319.135, 144709.35 ,
        96898.665, 161735.727, 139376.843, 127824.501, 214796.136,
       126370.982, 165210.379, 171053.499, 139371.075, 116989.296,
       137525.63 , 121855.623, 172140.986, 141676.624, 112607.622,
       104922.153, 138172.091, 138790.524, 178737.12 , 150204.209,
       122320.716, 149622.858, 130652.348, 130241.45 , 118520.378,
       124205.724, 149907.564, 114122.457, 136148.81 , 137082.748,
       120325.578, 109472.134,  89664.513, 138676.171, 141045.332,
       139135.786, 147402.592,  90406.613, 146654.741,  76250.166,
       123256.008, 145415.554, 108991.015, 134491.068,  80606.189,
       252258.331, 119475.952, 125673.448, 124579.714, 157389.304,
       138476.455, 122962.504, 115359.257, 151361.088, 115155.611,
       148671.748, 119220.35 , 112252.846, 115547.649, 108845.142,
       190029.645, 135827.509, 158122.972, 138622.87 ,  99217.671,
       146660.196, 155614.711, 115429.678, 116308.591, 121189.724,
       105435.801, 118663.289, 137651.117, 153763.346, 139277.025,
       140627.202, 139562.756, 146351.524, 117188.167, 135782.344,
       149280.869, 158218.797, 125954.311, 133566.134, 233852.258,
       129496.925, 157480.475, 129811.13 , 224125.552, 239868.084,
       235557.534, 212897.943, 171113.726, 250159.442, 436811.77 ,
       337715.49 , 254488.319, 175555.689, 144157.705, 202867.084,
       210770.276, 191934.   , 219478.167, 148556.348, 140058.79 ,
       166455.088, 246747.699, 306272.996, 324199.726, 258636.018,
       223729.75 , 147428.306, 188191.918, 192837.57 , 228392.372,
       194260.947, 139288.45 , 139330.369, 145001.759, 151366.348,
       156019.255, 114960.252, 121895.155, 116702.447, 155595.832,
       161855.356, 128868.396, 128798.365, 192545.19 , 158305.668,
       178705.109, 114458.822, 135208.062, 240790.733, 229489.703,
       191861.418, 117155.595, 115176.89 , 112789.702, 147388.716,
       105805.713, 151093.52 ,  93081.762,  82760.095,  85575.055,
       337785.593, 251381.787, 262803.001, 212755.379, 184386.125,
       196820.529, 277430.169, 236311.58 , 165787.927, 211835.264,
       176980.878, 175705.705, 258925.25 , 200628.546, 274165.987,
       352680.259, 201097.659, 165036.182, 153518.39 , 135821.84 ,
       143370.601, 103616.846,  95948.175, 148163.216, 127411.25 ,
       128922.45 , 135694.898, 137075.176, 173596.276, 153787.556,
       179303.547, 191885.893, 180926.113, 195262.28 , 175411.361,
       178511.141, 153260.336, 192433.661, 208416.472, 328617.667,
       433761.833, 170199.674, 290654.66 , 364205.723, 376639.378,
       163052.569, 182650.745, 246558.869, 203292.445, 167520.67 ,
       170668.75 , 162926.314, 168250.463, 186044.395, 158078.286,
       121830.817, 121541.37 , 178253.55 , 178663.319,  97453.682,
       111124.818, 152201.927, 130899.181, 336542.137, 270278.872,
       374503.043, 420711.657, 310268.72 , 396931.695, 454057.112,
       396490.713, 440254.56 , 289075.411, 314369.656, 317741.945,
       374484.099, 318840.987, 278766.129, 230884.186, 239242.692,
       244723.954, 184178.447, 185314.853, 189331.505, 220160.144,
       283673.49 , 226231.413, 191155.949, 175379.164, 174383.114,
       174603.35 , 172440.009, 182359.989, 179616.012, 173107.756,
       174307.861, 180555.876, 254592.977, 167570.744, 182116.489,
       166828.862, 221808.772, 165717.064, 212935.009, 219803.214,
       184032.181, 177841.648, 352307.489, 400088.118, 318720.519,
       256304.418, 260852.875, 332913.8  , 199895.274, 284515.748,
       229155.071, 380593.29 , 225029.51 , 240965.656, 219033.677,
       237086.553, 238904.223, 221554.162, 197914.559, 228369.529,
       164569.857, 277259.827, 261929.215, 241824.572, 206778.756,
       153406.478, 199628.348, 197234.848, 126045.525, 122040.683,
       138675.76 , 266866.568, 143686.642, 152924.407, 221109.043,
       195678.049, 222272.652, 202111.509, 223963.959, 172010.148,
       172839.007, 172939.78 , 268880.705, 303750.123, 239425.601,
       265890.144, 350653.616, 143581.713, 200859.902, 144498.996,
       161614.994, 183386.662, 215146.484, 240607.55 , 153782.225,
       143146.141, 137361.385, 128958.982, 141546.248, 132550.993,
       115739.951, 161719.886, 145427.075, 194849.152, 152225.263,
       199395.582, 122122.458, 118321.605, 137036.307, 137173.815,
       150081.908, 158581.336, 136482.438, 128269.725, 138004.559,
       138874.096, 162581.827, 122375.838, 156132.985, 139594.614,
       137237.538, 132135.334, 125424.514, 130210.785, 124360.395,
       135087.311, 126370.644, 151128.359, 120396.93 , 149510.853,
       180857.126, 132208.807, 171262.595, 116273.706, 132139.636,
       114366.687, 136014.084, 144690.787, 145779.749, 154422.75 ,
       110578.634, 124096.534, 113350.39 , 119949.449, 107338.101,
       106355.593, 118329.733, 122811.324,  97835.38 , 129469.595,
       227559.128, 144682.01 , 112898.382, 154468.427, 126109.984,
       218930.071, 110731.898, 141231.728, 121713.971, 113594.401,
       111643.628, 137888.31 , 119681.149, 138822.995, 117150.448,
       163930.694, 125424.44 , 115190.369, 146885.574,  97791.095,
        95540.701, 176329.129, 206179.833, 162476.84 , 124212.544,
       117000.089, 216341.533, 118019.392, 133483.535, 159345.043,
       120651.961, 140052.524, 124116.628, 135120.41 , 116125.562,
       120628.624, 124320.548, 153549.899, 181787.993, 149418.881,
       146216.007, 152521.527, 182338.182, 146393.717, 164899.48 ,
       119361.134, 215569.545, 148878.926, 117451.004, 136191.875,
       133226.021, 150023.013, 108269.863, 186439.918, 214620.648,
       253661.27 , 327434.664, 254291.129, 222137.15 , 230487.181,
       187692.84 , 214976.734, 219112.795, 232355.561, 149289.12 ,
       157249.713, 137227.627, 148943.776, 228980.754, 206491.773,
       194112.902, 221478.021, 131527.819, 143043.803, 147190.194,
       140502.446, 117951.868, 126243.746, 132104.746, 121557.097,
       236567.032, 231118.987, 198994.542, 242581.599, 312343.134,
       231027.759, 230728.241, 185824.615, 188495.47 , 178732.118,
       180145.001, 170031.955, 128450.903, 138917.56 , 126695.159,
       145303.229, 139141.421, 168117.105, 381642.839, 145684.851,
       121783.456, 111934.702, 109324.928, 120227.162, 143123.373,
       129539.939, 137227.522, 140047.769, 149784.664, 167699.412,
       152091.386, 131373.961, 182614.332, 187455.26 , 116066.757,
       177480.311, 194173.948, 239687.907, 306845.43 , 123599.094,
       102466.962, 132386.716, 119233.827, 283477.611, 164819.802,
       179265.902, 202652.835, 204738.166, 148277.246, 144555.172,
       224125.598, 208729.392, 227220.098, 256231.298, 174854.537,
       212646.4  , 329157.543, 181915.739, 269655.733, 317635.481,
       130335.006,  87781.925,  91528.806,  89978.073, 145447.475,
       172385.786, 204569.656, 166645.892, 155957.361, 154542.998,
       129828.91 , 127287.509, 150042.694, 139993.338, 172202.88 ,
       178185.39 , 226979.154, 186882.795, 183695.638, 188974.07 ,
       255251.443, 271970.098, 321902.501, 166144.401, 192366.395,
       414631.771, 547514.286, 351477.938, 452803.443, 400772.82 ,
       311764.834, 378958.506, 151753.288, 196157.521, 163769.306,
       257435.38 , 181906.404, 154391.069, 110900.619, 190905.652,
        98147.748, 127162.795, 101930.917,  91155.55 ,  97847.293,
       137912.253, 144699.493, 151016.169, 153607.742, 437136.468,
       252448.655, 244397.335, 368498.328, 322083.865, 340908.883,
       287198.107, 305065.079, 325585.235, 341009.386, 352424.393,
       276190.569, 281280.764, 316055.592, 287635.974, 169628.148,
       177753.791, 177346.099, 288145.6  , 178924.167, 179523.294,
       202465.078, 201711.807, 173591.213, 186685.005, 198505.337,
       260837.427, 277112.39 , 270849.318, 407827.6  , 325432.996,
       519701.027, 309056.197, 344811.423, 261733.376, 332163.45 ,
       231209.898, 217788.874, 461867.142, 189490.555, 192004.441,
       192620.301, 186378.282, 194425.948, 197598.36 , 180718.386,
       168803.707, 150428.704, 117536.673, 142909.383, 127816.66 ,
       119593.626, 122256.133, 137382.625, 127352.334, 273250.036,
       363686.863, 174092.346, 150035.739, 171488.184, 165968.013,
       183577.991, 231450.395, 156272.607, 165196.309, 143544.591,
       169862.309, 143966.913, 129359.751, 137398.912, 149115.736,
       169251.657, 167936.761, 156316.211, 146457.6  , 118330.617,
       121281.47 , 159526.675, 147387.851, 131878.675, 144458.596,
       123184.429, 135459.432, 160096.426, 134732.633, 148390.073,
       149778.852, 147108.263, 147819.975, 137075.408, 135799.471,
       156098.941, 131226.249, 131630.401, 134626.024, 132325.31 ,
       223283.382, 153405.455, 196945.743, 124764.02 , 104544.417,
        80054.544,  96077.659, 154276.827, 136412.34 , 148752.186,
       147149.157, 185887.36 , 265291.437, 148427.947, 124561.65 ,
       152178.306, 119793.863, 145718.276, 140739.064, 135763.121,
       141275.083, 147520.412, 121655.214, 124362.336, 106788.71 ,
       104986.289, 101468.169, 109305.709, 127102.199, 144355.872,
        85703.536, 116430.159,  93110.272, 218261.064, 116248.294,
       165568.127, 106131.087, 117039.122, 102208.496, 184125.745,
       128673.14 , 122650.194, 110748.731, 139779.978, 153958.936,
        98909.929, 155273.074, 150664.496, 130887.836, 138359.365,
       161382.134, 145032.903, 164863.529, 168446.886, 101097.735,
       238708.752, 138096.531, 132109.601, 175750.932, 137679.687,
       110079.933, 185253.514, 224923.184, 176689.669, 135473.27 ,
       143273.704, 209127.702, 176071.282, 229685.647, 192081.474,
       219429.216, 294784.708, 217875.77 , 220240.253, 192067.25 ,
       165667.168, 148768.046, 181594.607, 193214.599, 202538.195,
       219975.679, 150216.771, 159076.865, 124389.95 , 211477.246,
       200393.62 , 221427.193, 210863.971, 282426.758, 239576.973,
       221979.945, 232217.579, 140501.944, 194770.542, 209947.206,
       189399.959, 195399.552, 145009.467, 126323.104, 192202.271,
       258118.325, 142636.092, 136565.017, 105950.948, 111353.414,
       129108.509, 161363.132,  71239.252, 112639.358, 143531.678,
       117311.293, 160864.752, 145459.822, 164378.438, 143437.168,
       107443.138, 152485.636, 164709.166, 167467.696, 177477.445,
       182420.001, 203707.489, 105370.623, 121627.329,  90738.462,
       138563.46 , 321063.374, 290019.818, 197729.925, 154348.049,
       232035.533, 157655.048, 185711.382, 184763.619, 344627.594,
       345850.011, 196761.642, 120032.205, 130252.686, 143498.371,
        87962.189, 157077.576,  90924.538,  86585.989, 152648.735,
       224018.967])

In [440]:
# create prediction dataframe
data = {'Id': test_features_noprice['Id'], 'SalePrice': pred_test}
df = pd.DataFrame (data, columns = ['Id', 'SalePrice' ])

In [443]:
# save df to .csv
df.to_csv('pred_test.csv')